{% extends "RmzamoraCalendarBundle::layout.html.twig" %}
{% block rmzamora_calendar_content %}
<form method="post">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock rmzamora_calendar_content %}
